:root{
--green-900: hsl(183, 100%, 15%);
--grey-500: hsl(186, 14%, 43%);
--grey-400: hsl(184, 14%, 56%);
--grey-200: hsl(185, 41%, 84%);
--grey-50: hsl(189, 47%, 97%);
--white: hsl(0, 100%, 100%);
--green-400: hsl(172, 67%, 45%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--grey-200);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Space Mono", monospace;
    color: var(--green-900);
    font-size: 16px;
}

/* General styling for all inputs */

input{
    color: var(--green-900);
    width: 100%;
    height: 40px;
    padding: 10px 10px 10px 35px;
    text-align: right;
    outline: none;
    border: none;
    background-color: var(--grey-50);
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5px;
    font-family: "Space Mono", monospace;
}

input:focus{
    border: 3px solid var(--green-400);
}

.container-tip-calculator{
    background-color: var(--white);
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 30px;
}

.container-tip-calculator h1{
    font-size: 14px;
    color: var(--grey-500);
    font-weight: 600;
}

.bill-container, .tip-container, .people-container{
    margin-bottom: 25px;
}

.logo-image{
    padding: 50px 0;
}
/* Positioning the icons in the input */
.bill-input, .people-input{
    position: relative;
    padding: 10px 0;
}

.dollar-sign, .user-icon{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}


/* buttons */
.tip-options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 10px 0;
}

.tip-btn{
    background-color: var(--green-900);
    color: var(--grey-50);
    font-weight: 700;
    border: none;
    outline: none;
    padding: 0.7rem 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Space Mono", monospace;
    border-radius: 5px;
    flex: 1;
}

button.active{
    background-color: var(--green-400);
    color: var(--green-900);
}

#custom-tip{
    height: 3.5rem;
    flex: 1;
}

#custom-tip input:focus{
    outline: 3px solid var(--green-900);
}

.container-right{
    background-color: var(--green-900);
    color: white;
    padding: 50px 20px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tip-container-two, .amount-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tip-container-two p, .amount-container p{
    color: var(--grey-500);
    font-weight: bold;
    font-size: 16px;
}

.tip-container-two h2, .amount-container h2{
    font-size: 18px;
}

.tip-amount, .total-amount{
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
}

.tip-amount span, .total-amount span {
    color: var(--green-400);
    font-weight: 700;
    font-size: 2.5rem;
}

.tip-amount i, .total-amount i{
    color: var(--green-400);
    font-size: 2rem;
    transform: translateY(2px);
}

/* Reset Butto */
.reset-btn{
    border: none;
    outline: none;
    background-color: var(--green-400);
    color: var(--green-900);
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 1.2rem;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
}